In [17]:
import pandas as pd

In [18]:
psg_players= pd.Series(['Navas', 'Mbappe','Neymar','Messi'],
          index=[1,7,10,30]
          )

In [19]:
psg_players

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [20]:
psg_players= pd.Series(['Navas', 'Mbappe','Neymar','Messi'])
psg_players

0     Navas
1    Mbappe
2    Neymar
3     Messi
dtype: object

In [21]:
dict={1:'Navas',7:'Mbappe',10:'Neymar',30:'Messi'}
pd.Series(dict)

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [22]:
psg_players[2]

'Neymar'

In [23]:
dict ={'Jugador':['Navas', 'Mbappe','Neymar','Messi'],
 'Altura':[182,179,157,168],
 'Goles': [100,200,300,400]
 }

In [24]:
pd.DataFrame(dict,index=[1,7,10,30])

   Jugador  Altura  Goles
1    Navas     182    100
7   Mbappe     179    200
10  Neymar     157    300
30   Messi     168    400