In [16]:
import pandas as pd
import numpy as np

In [17]:
dict = {'Col1':[1,2,3,np.nan],'Col2':[4,np.nan,6,7],'Col3':['a','b','c',None]}

In [18]:
df=pd.DataFrame(dict)
data_frame

   Col1  Col2  Col3
0   1.0   4.0     a
1   2.0   NaN     b
2   3.0   6.0     c
3   NaN   7.0  None

In [19]:
df.isnull()*1

   Col1  Col2  Col3
0     0     0     0
1     0     1     0
2     0     0     0
3     1     0     1

In [20]:
df_filled=df.fillna('Missing')

In [22]:
df.fillna(df.mean())

/tmp/ipykernel_1461/634187881.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.fillna(df.mean())

   Col1      Col2  Col3
0   1.0  4.000000     a
1   2.0  5.666667     b
2   3.0  6.000000     c
3   2.0  7.000000  None

In [21]:
df_filled.isna()*1

   Col1  Col2  Col3
0     0     0     0
1     0     0     0
2     0     0     0
3     0     0     0

In [23]:
df.interpolate()

   Col1  Col2  Col3
0   1.0   4.0     a
1   2.0   5.0     b
2   3.0   6.0     c
3   3.0   7.0  None